<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <div class="header-bottom-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <img src="/static/img/logo/logo_cat_small2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="home">首页</a>
                                        
                                    </li>
                                    <li>
                                        <a href="dog.html">宠物大全</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="dog.html">宠物狗</a>
                                            </li>
                                            <li>
                                                <a href="cat.html">宠物猫</a>
                                            </li>
                                            <li>
                                                <a href="other.html">其他宠物</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="service.html">宠物服务</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="service1.html">宠物医疗</a>
                                            </li>
                                            <li>
                                                <a href="service2.html">宠物养护</a>
                                            </li>
                                            <li>
                                                <a href="service3.html">宠物训练</a>
                                            </li>
                                            <li>
                                                <a href="service4.html">宠物搞笑</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="map-polygon.html">数据可视化</a>
                                    </li>
                                    <li>
                                        <a href="AboutUs.html">关于我们</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="/about">想说的话</a>
                                            </li>
                                            <li>
                                                <a href="/members">成员介绍</a>
                                            </li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div class="wrapper-box p-0" >
            <div class="page-title-area pt-210 pb-210" data-background="/static/img/bg/bg8.png">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title text-center">
                                <h1>Something We Want To Say</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="post-comments mt-50">
                    <div class="latest-comments">
                        <ul>
                            <li>
                                <div class="comments-box">
                                    <div class="comments-avatar">
                                        <img src="/static/img/say_something/头像1.png" alt="">
                                    </div>
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h3> The Importance of Pets</h3>
                                        </div>
                                        <p><b>随着社会生产水平的提高，人们生活节奏逐渐加快。快节奏的生活可能常常让我们感到焦虑或迷茫，当我们身边暂时没有可以倾诉的对象时，宠物可以成为我们朋友，给予我们心理上的安慰。</b><br>
                                            With the improvement of social production level, people's pace of life is gradually accelerating. The fast-paced life may often make us feel anxious or confused.<br> 
                                            When there is no object to talk to around us for the time being, pets can become our friends and give us psychological comfort.
                                        </p>
                                    </div>
                                </div>
                                <ul class="comments-reply">
                                    <li>
                                        <div class="comments-box">
                                            <div class="comments-avatar">
                                                <img src="/static/img/say_something/头像2.png" alt="">
                                            </div>
                                            <div class="comments-text">
                                                <div class="avatar-name">
                                                    <h3> Brief Introduction of This Web</h3>
                                                </div>
                                                <p><b>宠物是人类社会中的重要角色，有关宠物的知识甚多，但是相关网站的数量和质量无法得到保证。因此我们整合了几个网站上的信息，去除了广告和营销号等无效信息，<br>
                                                    并且增加了一些新功能，用更加清晰简约的网站风格为用户提供更好的搜索体验。</b><br>                                                    
                                                   Pets are an important role in human society. There is a lot of knowledge about pets, but the quantity and quality of relevant websites can not be guaranteed. <br>
                                                   Therefore, we have integrated the information on several websites,removed invalid information such as advertising and marketing numbers, and added some<br>
                                                   new functions to provide users with a better search experience with a clearer and simpler website style.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comments-box">
                                    <div class="comments-avatar">
                                        <img src="/static/img/say_something/头像3.png" alt="">
                                    </div>
                                    <div class="comments-text">
                                        <div class="avatar-name">
                                            <h3> Space for Improving</h3>
                                        </div>
                                        <p><b>因为关于宠物可参考的网站较少，因此部分宠物的信息无法全部展示。此外，这个网站还可以创建一个养宠者论坛，为大家交流养宠经验、分享养宠趣事搭建一个更好的平台。</b><br>
                                              Because there are few websites available for reference about pets, the information of some pets cannot be fully displayed. In addition,this website can also create  <br>
                                              a pet breeder forum to build a better platform for everyone to exchange pet experience and share pet fun.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <ul class="comments-reply">
                                <li>
                                    <div class="comments-box">
                                        <div class="comments-avatar">
                                            <img src="/static/img/say_something/头像4.png" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <div class="avatar-name">
                                                <h3> The Original Purpose</h3>
                                            </div>
                                            <p><b>生活中宠物被遗弃、流浪街头甚至失去生命的现象屡见不鲜，令人痛心。这些养宠人常常因为宠物不如自己想象中可爱、宠物怀了孕、养宠成本太高、自己没有精力等原因将<br>
                                                他们抛弃，因此我们希望建此网站，旨在让准备养宠的人对养宠形成更客观的认知，以帮助他们做出更理智的决定。</b><br>
                                                It is sad that pets are abandoned, wandering in the streets and even lose their lives. These pet breeders often abandon their pets because they are not <br>
                                                as cute as they think,they are pregnant, the cost of pet rearing is too high, and they have no energy. Therefore, we hope to build this website to enable<br> 
                                                people who are ready to pet to form a more objective understanding of pet rearing, so as to help them make more rational decisions.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            <!--  end -->
            <footer class="black-bg">
                <div class="widget-area pt-70 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget" >
                                    <img class="mb-30" src="/static/img/logo/logo-white.png" alt="">
                                    <p style="color: whitesmoke;">Ocean turns converted,</p>
                                    <p style="color: whitesmoke;;">where beloved fish dwell.</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30 d-lg-none d-xl-block">
                                <div class="footer-widget">
                                    <h3>Site links</h3>
                                    <ul class="footer-link">
                                        <li ><a href="/home" style="color: whitesmoke;">首页</a></li>
                                        <li><a href="/dog" style="color: whitesmoke;">宠物大全</a></li>
                                        <li><a href="/service" style="color: whitesmoke;">宠物服务</a></li>
                                        <li><a href="/map-polygon" style="color: whitesmoke;">数据可视</a></li>
                                        <li><a href="/about" style="color: whitesmoke;">关于我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>Contact Us</h3>
                                    <ul class="footer-info">
                                        <li style="color: aqua;">Great tribute to Group 6</li>
                                        <li style="color: aquamarine;">who built the site with joint efforts.</li>
                                        <li style="color: cornsilk;">Shanghai Jiao Tong University</li>
                                        <li style="color: cornsilk;">No.800, Dongchuan Road, Shanghai, China</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area pt-25 pb-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="footer-menu text-center  text-lg-right">
                                    <nav>
                                        <ul>
                                            <li><a href="#" style="color: gainsboro;"> Introduction to Engineering for Electronic Information (Class B)</a></li>
                                            <li><a href="#" style="color: gainsboro;"> 电类工程导论（B类）课程作业，谢绝他用</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/echarts.js"></script>
        <script src="/static/js/jquery.js"></script>
    </body>
</html>
