<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
        <link rel="stylesheet" herf="/static/css/search.css">
        <link rel="stylesheet" herf="/static/css/picture_setting.css">
    </head>
    <body>


        <header>
            <div class="header-bottom-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <img src="/static/img/logo/logo_cat_small2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu f-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="home">首页</a>
                                            
                                        </li>
                                        <li>
                                            <a href="dog.html">宠物大全</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="dog.html">宠物狗</a>
                                                </li>
                                                <li>
                                                    <a href="cat.html">宠物猫</a>
                                                </li>
                                                <li>
                                                    <a href="other.html">其他宠物</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="service.html">宠物服务</a>
                      
                                            <ul class="submenu">
                                                <li>
                                                    <a href="service1.html">宠物医疗</a>
                                                </li>
                                                <li>
                                                    <a href="service2.html">宠物养护</a>
                                                </li>
                                                <li>
                                                    <a href="service3.html">宠物训练</a>
                                                </li>
                                                <li>
                                                    <a href="service4.html">宠物搞笑</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="map-polygon.html">数据可视化</a>
                                        </li>
                                        <li>
                                            <a href="AboutUs.html">关于我们</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/about">想说的话</a>
                                                </li>
                                                <li>
                                                    <a href="/members">成员介绍</a>
                                                </li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        <!-- wrapper-box start -->
        <div class="wrapper-box p-0">
            <!-- page-title-area start -->
            <div class="page-title-area pt-210 pb-210" data-background="/static/img/bg/page-title.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title text-center">
                                <h1>宠物大全</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a href="dog.html">-犬类大全-</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-title-area end -->

            <div class="widget">
                <h4 class="widget-title1">Search here</h4>
                    <div class="sidebar-form1">      
                    <form action="dog.html" method='post'>
                        <input type="text" placeholder="输入关键词或想要前往的页码" name='page'/>
                            <button type="submit">
                                <span class="lnr lnr-magnifier"></span>
                            </button>                                                                 
                    </form>            
                </div>
            </div>

            <!-- basic-blog-area -->
            <div class="basic-blog-area gray-bg pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[0]}}">
                                        <img src="{{imgs[0]}}" alt="" width="300" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[0]}}">{{names[0]}}</a>
                                    </h2>
                                    <p>{{intros[0]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[0]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[1]}}">
                                        <img src="{{imgs[1]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[1]}}">{{names[1]}}</a>
                                    </h2>
                                    <p>{{intros[1]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[1]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[2]}}">
                                        <img src="{{imgs[2]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[2]}}">{{names[2]}}</a>
                                    </h2>
                                    <p>{{intros[2]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[2]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[3]}}">
                                        <img src="{{imgs[3]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[3]}}">{{names[3]}}</a>
                                    </h2>
                                    <p>{{intros[3]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[3]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[4]}}">
                                        <img src="{{imgs[4]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[4]}}">{{names[4]}}</a>
                                    </h2>
                                    <p>{{intros[4]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[4]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[5]}}">
                                        <img src="{{imgs[5]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[5]}}">{{names[5]}}</a>
                                    </h2>
                                    <p>{{intros[5]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[5]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[6]}}">
                                        <img src="{{imgs[6]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[6]}}">{{names[6]}}</a>
                                    </h2>
                                    <p>{{intros[6]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[6]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[7]}}">
                                        <img src="{{imgs[7]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[7]}}">{{names[7]}}</a>
                                    </h2>
                                    <p>{{intros[7]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[7]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[8]}}">
                                        <img src="{{imgs[8]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[8]}}">{{names[8]}}</a>
                                    </h2>
                                    <p>{{intros[8]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[8]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[9]}}">
                                        <img src="{{imgs[9]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[9]}}">{{names[9]}}</a>
                                    </h2>
                                    <p>{{intros[9]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[9]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[10]}}">
                                        <img src="{{imgs[10]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[10]}}">{{names[10]}}</a>
                                    </h2>
                                    <p>{{intros[10]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[10]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column" style="padding: 30px;">
                                <div class="blog-thumb">
                                    <a href="/detail?id={{ids[11]}}">
                                        <img src="{{imgs[11]}}" alt="" width="290" height="120"/>
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="/detail?id={{ids[11]}}">{{names[11]}}</a>
                                    </h2>
                                    <p>{{intros[11]}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="/detail?id={{ids[11]}}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="row mt-15">
                        <div class="col-xl-12">
                            <div class="pagination text-center">
                                <ul>
                                    <li>
                                        <a data-animation="fadeInLeft" data-delay="1.2s" class="btn brand-btn" href="dog?page={{page-1}}">上一页
                                        </a>
                                    </li>
                                    <li>
                                        <p style="text-align: center;">
                                            第 {{page}} 页，共 13 页
                                        </p>
                                    </li>
                                    <li>
                                        <a data-animation="fadeInRight" data-delay="1.5s" class="btn white-btn" href="dog?page={{page+1}}">下一页    
                                        </a>   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <footer class="black-bg">
                <div class="widget-area pt-70 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget" >
                                    <img class="mb-30" src="/static/img/logo/logo-white.png" alt="">
                                    <p style="color: whitesmoke;">Ocean turns converted,</p>
                                    <p style="color: whitesmoke;;">where beloved fish dwell.</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30 d-lg-none d-xl-block">
                                <div class="footer-widget">
                                    <h3>Site links</h3>
                                    <ul class="footer-link">
                                        <li ><a href="/home" style="color: whitesmoke;">首页</a></li>
                                        <li><a href="/dog" style="color: whitesmoke;">宠物大全</a></li>
                                        <li><a href="/service" style="color: whitesmoke;">宠物服务</a></li>
                                        <li><a href="/map-polygon" style="color: whitesmoke;">数据可视</a></li>
                                        <li><a href="/about" style="color: whitesmoke;">关于我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>Contact Us</h3>
                                    <ul class="footer-info">
                                        <li style="color: aqua;">Great tribute to Group 6</li>
                                        <li style="color: aquamarine;">who built the site with joint efforts.</li>
                                        <li style="color: cornsilk;">Shanghai Jiao Tong University</li>
                                        <li style="color: cornsilk;">No.800, Dongchuan Road, Shanghai, China</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area pt-25 pb-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="footer-menu text-center  text-lg-right">
                                    <nav>
                                        <ul>
                                            <li><a href="#" style="color: gainsboro;"> Introduction to Engineering for Electronic Information (Class B)</a></li>
                                            <li><a href="#" style="color: gainsboro;"> 电类工程导论（B类）课程作业，谢绝他用</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>

        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
