<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <div class="header-bottom-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <img src="/static/img/logo/logo_cat_small2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu f-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="home">首页</a>
                                        
                                    </li>
                                    <li>
                                        <a href="dog.html">宠物大全</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="dog.html">宠物狗</a>
                                            </li>
                                            <li>
                                                <a href="cat.html">宠物猫</a>
                                            </li>
                                            <li>
                                                <a href="other.html">其他宠物</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="service.html">宠物服务</a>
    
                                        <ul class="submenu">
                                            <li>
                                                <a href="service1.html">宠物医疗</a>
                                            </li>
                                            <li>
                                                <a href="service2.html">宠物养护</a>
                                            </li>
                                            <li>
                                                <a href="service3.html">宠物训练</a>
                                            </li>
                                            <li>
                                                <a href="service4.html">宠物搞笑</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="map-polygon.html">数据可视化</a>
                                    </li>
                                    <li>
                                        <a href="AboutUs.html">关于我们</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="/about">想说的话</a>
                                            </li>
                                            <li>
                                                <a href="/members">成员介绍</a>
                                            </li>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div class="wrapper-box p-0" 
            <div class="page-title-area pt-210 pb-210" data-background="/static/img/bg/bg8.png">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title text-center">
                                <h1>Contribution</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="post-comments mt-50">
                    <div class="latest-comments">
                        <ul>
                            <li>
                                
                                <ul class="comments-reply">
                                    <li>
                                        <div class="comments-box">
                                            <div class="comments-avatar">
                                                <img src="/static/img/say_something/头像2.png" alt="">
                                            </div>
                                            <div class="comments-text">
                                                <div class="avatar-name">
                                                    <h2>Yanhong Zhu</h2>
                                                </div>
                                                <h5>
                                                    Contriving the general plan jointly
                                                    <br>Designing and building the HOME and ABOUT page
                                                    <br>Overall art stylist
                                                    
                                                </h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                                <ul class="comments-reply">
                                    <li>
                                        <div class="comments-box">
                                            <div class="comments-avatar">
                                                <img src="/static/img/say_something/头像2.png" alt="">
                                            </div>
                                            <div class="comments-text">
                                                <div class="avatar-name">
                                                    <h2> Sijia Liu</h2>
                                                </div>
                                                <h5>     
                                                    Contriving the general plan jointly                                       
                                                  <br> Overall completion of the VISUALIZATION page
                                                </h5> 
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <ul class="comments-reply">
                                <li>
                                    <div class="comments-box">
                                        <div class="comments-avatar">
                                            <img src="/static/img/say_something/头像4.png" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <div class="avatar-name">
                                                <h2> Wenzheng Pan</h2>
                                            </div>
                                            <h5>
                                                Contriving the general plan jointly
                                                <br> Pet data obtainment
                                                <br> Designing and building the PET and ABOUT page
                                            </h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="comments-reply">
                                <li>
                                    <div class="comments-box">
                                        <div class="comments-avatar">
                                            <img src="/static/img/say_something/头像4.png" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <div class="avatar-name">
                                                <h2> Yuejia Lai</h2>
                                            </div>
                                            <h5>
                                                Contriving the general plan jointly
                                                <br> Service data obtainment
                                                <br> Designing and building the SERVICE page
                                            </h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="comments-reply">
                                <li>
                                    <div class="comments-box">
                                        <div class="comments-avatar">
                                            <img src="/static/img/say_something/头像4.png" alt="">
                                        </div>
                                        <div class="comments-text">
                                            <div class="avatar-name">
                                                <h2> Huanbo Wang</h2>
                                            </div>
                                            <h5>
                                                Contriving the general plan jointly
                                                <br> Designing and building the PET page jointly
                                            </h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            <div class="counter-area pt-150 pb-120" data-background="/static/img/bg/counter.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-couter text-center mb-30">
                                <span class="lnr lnr-users"></span>
                                <div class="counter">5</div>
                                <p>Dedicated Members</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-couter text-center mb-30">
                                <span class="lnr lnr-clock"></span>
                                <div class="counter">6</div>
                                <p>Fulfilling Weeks</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-couter text-center mb-30">
                                <span class="lnr lnr-pie-chart"></span>
                                <div class="counter">4</div>
                                <p>Combined Modules</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="single-couter text-center mb-30">
                                <span class="lnr lnr-laptop"></span>
                                <div class="counter">8000</div>
                                <p>or More Coding Lines</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="black-bg">
                <div class="widget-area pt-70 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget" >
                                    <img class="mb-30" src="/static/img/logo/logo-white.png" alt="">
                                    <p style="color: whitesmoke;">Ocean turns converted,</p>
                                    <p style="color: whitesmoke;;">where beloved fish dwell.</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30 d-lg-none d-xl-block">
                                <div class="footer-widget">
                                    <h3>Site links</h3>
                                    <ul class="footer-link">
                                        <li ><a href="/home" style="color: whitesmoke;">首页</a></li>
                                        <li><a href="/dog" style="color: whitesmoke;">宠物大全</a></li>
                                        <li><a href="/service" style="color: whitesmoke;">宠物服务</a></li>
                                        <li><a href="/map-polygon" style="color: whitesmoke;">数据可视</a></li>
                                        <li><a href="/about" style="color: whitesmoke;">关于我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>Contact Us</h3>
                                    <ul class="footer-info">
                                        <li style="color: aqua;">Great tribute to Group 6</li>
                                        <li style="color: aquamarine;">who built the site with joint efforts.</li>
                                        <li style="color: cornsilk;">Shanghai Jiao Tong University</li>
                                        <li style="color: cornsilk;">No.800, Dongchuan Road, Shanghai, China</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area pt-25 pb-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="footer-menu text-center  text-lg-right">
                                    <nav>
                                        <ul>
                                            <li><a href="#" style="color: gainsboro;"> Introduction to Engineering for Electronic Information (Class B)</a></li>
                                            <li><a href="#" style="color: gainsboro;"> 电类工程导论（B类）课程作业，谢绝他用</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/echarts.js"></script>
        <script src="/static/js/jquery.js"></script>
    </body>
</html>
