<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <header>
            <header>
                <div class="header-bottom-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3">
                                <div class="logo">
                                    <img src="/static/img/logo/logo_cat_small2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9">
                                <div class="main-menu f-right">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="home">首页</a>
                                                
                                            </li>
                                            <li>
                                                <a href="dog.html">宠物大全</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="dog.html">宠物狗</a>
                                                    </li>
                                                    <li>
                                                        <a href="cat.html">宠物猫</a>
                                                    </li>
                                                    <li>
                                                        <a href="other.html">其他宠物</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="service.html">宠物服务</a>
                                                <!-- submenu 的样式可以更改一下 -->
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="service1.html">宠物医疗</a>
                                                    </li>
                                                    <li>
                                                        <a href="service2.html">宠物养护</a>
                                                    </li>
                                                    <li>
                                                        <a href="service3.html">宠物训练</a>
                                                    </li>
                                                    <li>
                                                        <a href="service4.html">宠物搞笑</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="map-polygon.html">数据可视化</a>
                                            </li>
                                            <li>
                                                <a href="AboutUs.html">关于我们</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a href="/about">想说的话</a>
                                                    </li>
                                                    <li>
                                                        <a href="/members">成员介绍</a>
                                                    </li>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- header end -->

        <!-- wrapper-box start -->
        <div class="wrapper-box p-0">
            <!-- page-title-area start -->
            <div class="page-title-area pt-210 pb-210" data-background="/static/img/bg/page-title.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title text-center">
                                <h1>宠物服务</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a href="home.html">首页</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="service.html">宠物服务</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page-title-area end -->

            <!-- services-area start -->
            <div class="services-area pt-115 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/01.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=15&name=2">异国短毛猫寿命多久</a>
                                </h3>
                                <p>异国短毛猫的寿命为15年左右，合理的饮食和健康的生活环境会让异国短毛猫活的更久一点。
                                    </p>
                                <a class="service-link" href="service-details?id=15&name=2">Read more</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/02.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=22&name=2">​怎么让猫在笼子里的时候不乱叫?</a>
                                </h3>
                                <p>猫咪是很不喜欢被束缚的宠物，如果一定要笼养，一定要选择大一点的笼子，而且最好是分三四层的，因为猫咪十分喜欢上下来回跳跃，如果不能满足这一需求，猫咪一直叫，表示自己的抗议以及想要出去的心情。

                                </p>
                                <a class="service-link" href="service-details?id=15&name=2">Read more</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/03.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=76&name=2">土耳其梵科迪斯猫忌食的食物有哪些?</a>
                                </h3>
                                <p>土耳其梵科迪斯猫是一种十分特别的猫，它的特别之处就在于非常喜欢玩水，所以我们经常可以看到土耳其梵科迪斯猫跳到水中游玩嬉戏。
                                    </p>
                                <a class="service-link" href="service-details?id=76&name=2">Read more</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/04.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=117&name=2">怎么判断幼犬是否吃饱?
                                        </a>
                                </h3>
                                <p>可以用手触摸幼犬的腹部来判断，腹部饱满说明吃饱了。如果幼犬的肚子有些瘪，那就表示还没有吃饱。反之，如果腹部鼓胀得厉害，那就表示吃的太多。
                                    </p>
                                <a class="service-link" href="service-details?id=117&name=2">Read more</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/05.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=146&name=2">判断狗狗年龄的4种方法
                                        </a>
                                </h3>
                                <p>在购买狗狗时，卖家一般是会告诉我们狗狗年龄的，自行判断狗狗年龄的4种方法分别是牙齿辨别法，毛发辨别法、面部辨别法和形态辨别法。
                                    </p>
                                <a class="service-link" href="service-details?id=146&name=2">Read more</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="service-box service-3 mb-50">
                                <img src="/static/img/service/06.jpg" alt="">
                                <h3>
                                    <a href="service-details?id=152&name=2">小猫多大断奶？
                                       </a>
                                </h3>
                                <p>  每只小奶猫刚出生的时候，都需要通过母猫的哺乳;才能获取身体发育所需要的营养物质。但是小奶猫也一天天的在成长，总不能一直让母猫哺乳;那这就要让小奶猫断奶，喂食其他东西才行。
                                    </p>
                                <a class="service-link" href="service-details?id=152&name=2">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- services-area start -->
            <!-- video-area start -->
            <div class="video-area" data-background="/static/img/bg/video.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="video-text text-center">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=ltyneiA3Etg"><img src="img/icon/play.png" alt=""></a>
                                <span>这样的宠物是不行的哟</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- video-area end -->
            <!-- our-pricing-area-start -->
            <div class="our-pricing-area gray-bg pt-120 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="section-title  text-center mb-50">
                                <h2>我们的初衷</h2>
                                <p>当然是为实现共产主义而奋斗，才不是为了完成作业和传播教义（夹带私货）呢
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="pricing-wrapper white-bg text-center mb-30">
                                <div class="pricing-icon">
                                    <img src="/static/img/icon/p-01.png" alt="">
                                </div>
                                <div class="pricing-top">
                                    <h3>哔哩哔哩</h3>
                                </div>
                                <div class="pricing-text theme-bg">
                                    <h2>
                                        
                                        <span>国内知名的视频弹幕网站</span>
                                    </h2>
                                </div>
                                <ul class="pricing-menu">
                                    <li>及时的动漫新番 </li>
                                    <li>活跃的ACG氛围</li>
                                    <li>有创意的Up主</li>
                                    <li>各类短视频</li>
                                    <li>沙雕弹幕和评论</li>
                                </ul>
                                <div class="pricing-button">
                                    <a href="https://www.bilibili.com/">哔哩哔哩~干杯</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="pricing-wrapper white-bg text-center mb-30">
                                <div class="pricing-icon">
                                    <img src="/static/img/icon/p-02.png" alt="">
                                </div>
                                <div class="pricing-top">
                                    <h3>PicACG</h3>
                                </div>
                                <div class="pricing-text theme-bg">
                                    <h2>
                                        <span>二次元的狂欢，宅男宅女的天堂</span>
                                    </h2>
                                </div>
                                <ul class="pricing-menu">
                                    <li>各类优质漫画 </li>
                                    <li>最新番剧</li>
                                    <li>精美插画</li>
                                    <li>Cosplay</li>
                                    <li>你懂的</li>
                                </ul>
                                <div class="pricing-button active">
                                    <a href="https://zhuanlan.zhihu.com/p/52843756">今天的衣服就穿到这了</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="pricing-wrapper white-bg text-center mb-30">
                                <div class="pricing-icon">
                                    <img src="/static/img/icon/p-03.png" alt="">
                                </div>
                                <div class="pricing-top">
                                    <h3>Pixiv</h3>
                                </div>
                                <div class="pricing-text theme-bg">
                                    <h2>
                                        
                                        <span>记得挂VPN哟</span>
                                    </h2>
                                </div>
                                <ul class="pricing-menu">
                                    <li>海量精美图片</li>
                                    <li>国内外知名作家创作的漫画</li>
                                    <li>R18</li>
                                    <li>支持喜好度推荐和筛选</li>
                                    <li>P站，懂的都懂</li>
                                </ul>
                                <div class="pricing-button">
                                    <a href="https://www.pixiv.net">冲冲冲</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- our-pricing-area-end -->
            <!-- footer start -->
            <footer class="black-bg">
                <div class="widget-area pt-70 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <img class="mb-30" src="/static/img/logo/logo-white.png" alt="">
                                    <p>本科生搭建的小网站，版权所有，请勿用于商业用途</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>你可能需要</h3>
                                    <ul class="footer-link">
                                        <li><a href="#">老色批抑制剂</a></li>
                                        <li><a href="#">老色批抑制剂</a></li>
                                        <li><a href="#">老色批抑制剂</a></li>
                                        <li><a href="#">老色批抑制剂</a></li>
                                        <li><a href="#">老色批抑制剂</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30 d-lg-none d-xl-block">
                                <div class="footer-widget">
                                    <h3>相关链接</h3>
                                    <ul class="footer-link">
                                        <li><a href="home.html">首页</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Project</a></li>
                                        <li><a href="#">Our Team</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>联系我们</h3>
                                    <ul class="footer-info">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




        <!-- All js here -->
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
