<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header-bottom-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <img src="/static/img/logo/logo_cat_small2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu f-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="home">首页</a>
                                            
                                        </li>
                                        <li>
                                            <a href="dog.html">宠物大全</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="dog.html">宠物狗</a>
                                                </li>
                                                <li>
                                                    <a href="cat.html">宠物猫</a>
                                                </li>
                                                <li>
                                                    <a href="other.html">其他宠物</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="service.html">宠物服务</a>
                                            <!-- submenu 的样式可以更改一下 -->
                                            <ul class="submenu">
                                                <li>
                                                    <a href="service1.html">宠物医疗</a>
                                                </li>
                                                <li>
                                                    <a href="service2.html">宠物养护</a>
                                                </li>
                                                <li>
                                                    <a href="service3.html">宠物训练</a>
                                                </li>
                                                <li>
                                                    <a href="service4.html">宠物搞笑</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="map-polygon.html">数据可视化</a>
                                        </li>
                                        <li>
                                            <a href="AboutUs.html">关于我们</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/about">想说的话</a>
                                                </li>
                                                <li>
                                                    <a href="/members">成员介绍</a>
                                                </li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="wrapper-box p-0">

            <div class="page-title-area pt-210 pb-210" data-background="/static/img/bg/page-title.jpg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title text-center">
                                <h1>宠物医疗</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a href="home.html">首页</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="service1.html">宠物医疗</a>
                                        </li>
                                        
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
               
                <div class="widget">
                <h4 class="widget-title1">Search here</h4>
                    <div class="sidebar-form1">      
                    <form action="service1.html" method='post'>
                        <input type="text" placeholder="关键字或者页码（大于0小于30）" name='page'/>
                            <button type="submit">
                                <span class="lnr lnr-magnifier"></span>
                            </button>                        
                                <a data-animation="fadeInLeft" data-delay="1.2s" class="btn brand-btn" href="service1?page={{page1}}">上一页
                                    </a>
                                <a data-animation="fadeInRight" data-delay="1.5s" class="btn white-btn" href="service1?page={{page2}}">下一页    
                                    </a>                                            
                    </form>            
                </div>
            </div>
            <div class="basic-blog-area gray-bg pt-120 pb-120">
                <div class="container">
                    <div class="row">
                        {%for data0 in data %}
                        <div class="col-lg-4 col-md-6 blog-item mb-40">
                            <div class="blog-wrapper blog-column">
                                <div class="blog-thumb">
                                    <a href="service-details?id={{data0['id']}}&name=1">
                                        <img src="{{data0['img']}}" width='500' height='270' alt="" />
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blog-title">
                                        <a href="service-details?id={{data0['id']}}&name=1">{{data0['title']}}</a>
                                    </h2>
                                    <p>{{data0['dis']}}</p>
                                </div>
                                <div class="link-box">
                                    <a href="service-details?id={{data0['id']}}&name=1">查看全文</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <footer class="black-bg">
                <div class="widget-area pt-70 pb-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                <div class="footer-widget" >
                                    <img class="mb-30" src="/static/img/logo/logo-white.png" alt="">
                                    <p style="color: whitesmoke;">Ocean turns converted,</p>
                                    <p style="color: whitesmoke;;">where beloved fish dwell.</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-6 mb-30 d-lg-none d-xl-block">
                                <div class="footer-widget">
                                    <h3>Site links</h3>
                                    <ul class="footer-link">
                                        <li ><a href="/home" style="color: whitesmoke;">首页</a></li>
                                        <li><a href="/dog" style="color: whitesmoke;">宠物大全</a></li>
                                        <li><a href="/service" style="color: whitesmoke;">宠物服务</a></li>
                                        <li><a href="/map-polygon" style="color: whitesmoke;">数据可视</a></li>
                                        <li><a href="/about" style="color: whitesmoke;">关于我们</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 mb-30">
                                <div class="footer-widget">
                                    <h3>Contact Us</h3>
                                    <ul class="footer-info">
                                        <li style="color: aqua;">Great tribute to Group 6</li>
                                        <li style="color: aquamarine;">who built the site with joint efforts.</li>
                                        <li style="color: cornsilk;">Shanghai Jiao Tong University</li>
                                        <li style="color: cornsilk;">No.800, Dongchuan Road, Shanghai, China</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area pt-25 pb-25">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="footer-menu text-center  text-lg-right">
                                    <nav>
                                        <ul>
                                            <li><a href="#" style="color: gainsboro;"> Introduction to Engineering for Electronic Information (Class B)</a></li>
                                            <li><a href="#" style="color: gainsboro;"> 电类工程导论（B类）课程作业，谢绝他用</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
